<h1>Get An OUTSTANDING Logo For Your Project In Just 3 Steps <br /><span>via a pool of more than 300 Designers with us.</span> </h1>
<ol class="steps_list">
  <li>1. Compile Your Design Brief</li>
  <li>2. Review &amp; Provide Feedback</li>
  <li>3. Get A Winning Design</li>
</ol>
<%= link_to "Get Started Now", new_employer_registration_path, :class => "button" %>
<div class="clear"></div>
<br /><br />
<h1>Recent Wining Designs</h1>
<br /><br />
<ul id="project_list">
  <li>
    <div class="logo_header">Bonjoo Logo</div>
    <div class="logo_img"><a href="/submissions/1/sample.jpg" rel="facebox"><img src="/submissions/1/sample.jpg" width="220" class="project_logo">
      <%=image_tag "Glass.png",:class=>"magnify" %></a>
    </div>
    <div class="logo_footer"> 
      <span class="float_left">$202.00 Rewarded</span></div>
    </li>
  </ul>

  <div class="clear"></div>
  <br /><br />
  <h1>Designers Welcome !  Design &amp; Earn</h1>
  <%= link_to "Sign Up For Free", new_designer_registration_path, :class => "button" %>
  <div class="clear"></div>
  <hr />
  <h1>Statistics</h1>
  <ol class="steps_list">
    <li>	&#x2714; <b>300</b> Active Designers</li>
    <li>	&#x2714; <b>1230</b> Open Projects To Date</li>
    <li>	&#x2714; <b>$3202</b> Currently On Offer</li>
  </ol>