<ul id="filters">
  <li><a href="#" data-filter="*" class="active">show all</a></li>
  <li><a href="#" data-filter=".popular">Popular</a></li>
  <li><a href="#" data-filter=".commented">Commented</a></li>
  <li><a href="#" data-filter=".rated">Rated</li>
</ul>

