<div id="help">
  <div  id="faqs">
    <h2 >Frequently Asked Questions ?</h2>

    <dl class="faqs-list" id="faq-list1">
      <dt>How many designers will be working on my project?</dt>
      <dd>A typical contest has dozens of designers competing to produce the best design.  The more money you offer, the more designers you'll attract.</dd>
      <dt>What if I don’t like any of the designs that I get?</dt>
      <dd>We have a 100% money-back guarantee! If you don't like any designs, then simply contact us within 60 days and we'll give you a complete refund.</dd>
    </dl>

    <dl class="faqs-list" id="faq-list2">
      <dt>How many design entries will I get to choose from?</dt>
      <dd>On average, we receive 100+ entries per logo design contest, from dozens of different designers over a 7 day period.</dd>
      <dt>How much does it cost to run a logo design contest?</dt>
      <dd>You set the budget! Pricing starts at <span class="symbol">$</span><span class="amount">295</span> and in general, the more money you offer, the more logo designs you will have to choose from.</dd>
    </dl>

    <dl class="faqs-list" id="faq-list3">
      <dt>Will the designers tailor their designs to suit my business?</dt>
      <dd>Our designers create designs according to your requirements, so every entry to your design contest is tailor-made just for you!</dd>
      <dt>Can I get designers to revise the designs they create for me?</dt>
      <dd>Absolutely. Designers thrive on guidance, so the more feedback you provide, the better the quality of your finished product.</dd>
    </dl>
  </div>
</div><!-- end of help -->

</div>
<!-- // #main -->

<div class="clear"></div>


</div>
<!-- // #container -->
</div>	
<!-- // #containerHolder -->

<p id="footer">&copy; CopyRights All Rights Reserved. Rohit &amp; Shrey</p>